In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('/home/gunee/Projects/Gunee/homeBudget/data/03_primary/fake_transactions.csv', index_col=False)

In [8]:
df.head()

,1,50.00,Savings,Checking,2023-01-01,Grocery shopping,1234567,Debit,4950.00
0,2,100.0,Salary,Checking,2023-01-01,Monthly salary,1234567,Credit,5050.0
1,3,25.0,Entertainment,Checking,2023-01-02,Movie tickets,1234567,Debit,5025.0
2,4,80.0,Utilities,Checking,2023-01-03,Electric bill,1234567,Debit,4945.0
3,5,150.0,Savings,Checking,2023-01-03,Transfer to savings,1234567,Debit,4795.0
4,6,200.0,Salary,Checking,2023-01-15,Monthly salary,1234567,Credit,4995.0

In [11]:
df['Savings'].unique()

array(['Salary', 'Entertainment', 'Utilities', 'Savings', 'Groceries',
       'Dining'], dtype=object)